#order-area {
    margin-top: 60px;
    padding: 30px;
    background-color: #f4f9f4;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
}
.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* 1. 주문서 구역 전체 디자인 */
#order-area {
    margin-top: 60px;
    padding: 30px;
    background-color:  #f4f9f4;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
}

/* Flexbox 마법 적용 구역 */
form {
    display: FLEX;
    flex-direction: column;
    gap: 20PX;
    max-width: 500PX;
}

/* 3. 입력창 세부 정렬 */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* 1. 성함과 연락처 가로 정렬 */
.input-row {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}
.input-row .input-group {
    flex: 1; /* 똑같은 비율로 칸 나눠 갖기 */
}

/* 2. 클릭했을 때 강조되는 입력창 */
.input-group input:focus
.input-group textarea:focus {
    outline: none;
    border-color: #4caf50; /* n초록색 테두리 */
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.2); /*은은한 빛 효과 */
}

/* 배송 방식(select) 깔끔하게 만들기 */
select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: white;
}

/* 입체적인 주문 버튼 스타일 */
.order-btn {
    background-color: #2e7d32;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s; /*변화를 부드럽게 */
}

.order-btn:hover {
    background-color: #388e3c;
    transform: translateY(2px); /* 마우스 올리면 살짝 내려감 */
}

.order-btn:active {
    transform: translateY(5px); /* 누르면 더 깊게 내려감 */
}

.receipt-box {
    margin-top: 30px;
    padding: 20px;
    border: 2px dashed #4caf50;
    background-color: #ffffff;
    border-radius: 10px;
    display: none; 
}

.receipt-box h3 {
    color: #2e7d32;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}